<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Homepage</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-width=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body style="background-color: aqua;">
        <div class="container-fluid bg-info p-2">
            <center>
                {% block content %}

                {% endblock %}
            </center>
        </div>
    </body>
</html>